*{box-sizing:border-box; padding:5px; margin:0;}
.row::after{content:""; clear:both; display:table;}

nav{width:100%;}
nav,.footer{background-color:#FAD7DC; text-align:center; font-family: 'Montserrat', sans-serif;}

#main{background-color:#FFEBF0;}

.content{width:100%; padding:30px; font-family: 'Abel', 'Nanum Gothic', sans-serif;}
.footer{color:gray; padding:10px; font-size:12px;}
.sizeBox{height:600px;}

.menu ul{list-style-type:none;}
.menu li{margin:5px;padding:10px;display:inline;text-align:center;}
.menu li:hover{font-weight:bold;}

a:link{
color:black;background-color:transparent;text-decoration:none;}
a:visited{
color:black;background-color:transparent;text-decoration:none;}
a:active{
color:black;background-color:transparent;text-decoration:none;}

@media only screen and (max-width:768px) {img{display:none;}}
